<div class="container">
    <div class="row card custom-card">
        <div class="card-body">
            <form [formGroup]="currencyConverterForm" (ngSubmit)="convert()" class="form-container">
                <div class="amount-container">
                    <label for="amount" class="form-label"><strong>Amount:</strong></label>
                    <input type="number" id="amount" class="form-control" formControlName="amountToBeConverted">
                    <div class="error-container" *ngIf="currencyConverterForm.get('amountToBeConverted')?.invalid && currencyConverterForm.get('amountToBeConverted')?.touched">
                        Please insert amount
                    </div>    
                </div>
    
                <div class="from-currency-container">
                    <label for="fromCurrency" class="form-label"><strong>From currency:</strong></label>
                    <select id="fromCurrency" class="form-select" formControlName="fromCurrency">
                    <option value="" disabled selected>Select currency</option>
                    <option *ngFor="let currencies of actualCurrencies" [value]="currencies.code">
                        {{ currencies.code }} - {{ currencies.currency }}
                    </option>
                    </select>
                    <div *ngIf="currencyConverterForm.get('fromCurrency')?.invalid && currencyConverterForm.get('fromCurrency')?.touched; then currencyError"></div>
                </div>
    
                <div class="to-currency-container">
                    <label for="toCurrency" class="form-label"><strong>To currency:</strong></label>
                    <select id="toCurrency" class="form-select" formControlName="toCurrency">
                    <option value="" disabled selected>Select currency</option>
                    <option *ngFor="let currencies of actualCurrencies" [value]="currencies.code">
                        {{ currencies.code }} - {{ currencies.currency }} &nbsp; ({{ currencies.mid }})
                    </option>
                    </select>
                    <div *ngIf="currencyConverterForm.get('toCurrency')?.invalid && currencyConverterForm.get('toCurrency')?.touched; then currencyError"></div>
                </div>

                <div class="button-container">
                    <button class="btn btn-primary btn-block width100" type="submit">Convert<i class="bi bi-arrow-left-right"></i></button>
                </div>
                
                <div class="result-container" *ngIf="isSubmitted">
                    <div class="result-container-result text-secondary bg-light">
                        {{ currencyConverterForm.get('amountToBeConverted')?.value }}
                        {{ currencyConverterForm.get('fromCurrency')?.value }}
                        = 
                        {{ result }} 
                        {{ currencyConverterForm.get('toCurrency')?.value }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-template #currencyError>
    <div class="error-container">
        Please select currency
    </div>
</ng-template>