@media screen and (max-width: 921px) {
    .form-container {

        div {
            padding: 8px;
        }

        .button-container {
            display: flex;
            justify-content: flex-end;
        
            button {
                width: 30%;
                
                i {
                    margin-left: 16px;
                }
            }
        }
        
        .result-container-result {
            font-size: 1.75rem;
        }
    }

}

@media (min-width: 922px) and (max-width: 1919px) {
    .form-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
    
    .amount-container, 
    .from-currency-container, 
    .to-currency-container {
        flex: 1 1 25%;
        
    } 
    
    .button-container {
        flex: 1 1 10%;
    }
    
    .result-container {
        flex: 1 1 100%;
    }
    
    .container {
        width: 1294px;
    }
    
    .result-container-result {
        font-size: 3.5rem;
    }
}

.form-container {
    
    div {
        padding: 8px;
    }

    .button-container {
        padding-top: 33px;
    }
}

.custom-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-label {
    margin-bottom: 1px;
}

.error-container {
    color: red;
    font-size: 14px;
    font-weight: 200;
}

.width100 {
    width: 100%;
}

.button-container {

    button {
        display: flex;
        justify-content: space-around;

        i {
            margin-left: 16px;
        }
    }
}

.result-container-result {
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

